.ahadis {
	background: rgba(76, 175, 80, 0.8) ;
	border-radius: 15px;
	padding: 15px;
	text-align: justify;
	display: flex;
	align-items: center;
}

#imam {
	color: whitesmoke;
	background: transparent !important;
}